<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Allow existing files/folders through
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # SPA fallback
  RewriteRule . /index.html [L]
</IfModule>
